@{
    ViewData["Title"] = "EventEase";
}

<div class="text-center">
    <h1 class="display-4">EventEase - Durban Venue Booking</h1>
    <p><a asp-controller="Venues" asp-action="Index" class="btn btn-primary">View All Venues</a></p>
</div>